<% @bookings.each do |booking|
  <h1>Confirmed</h1>
    <% if booking.status == 'confirmed' %>
      <p> <%=booking.property_id%> <p>
      <p> <%=booking.start_date%> <p>
      <p> <%=booking.end_date%> <p>
    <% end %>
  <h1>Pending</h1>
    <% if booking.status == 'pending' %>
      <p> <%=booking.property_id%> <p>
      <p> <%=booking.start_date%> <p>
      <p> <%=booking.end_date%> <p>
    <% end %>
<% end %>