<% if @message %>
  <p><%= @message %></p>
<% end %>

<h1>Bookings made on others properties</h1>
<h2>Confirmed</h2>
<% @bookings_requested.each do |booking| %>
  <% if booking.status == 'confirmed' %>
    <% @allprops.each do |prop| %>
    <% @allusers.each do |user| %>
      <% if prop.id == booking.property_id %>
      <% if user.id == booking.booker_id %>
        <p> <%=prop.name%> <p>
        <p> <%=user.name%> <p>
        <p> <%=booking.start_date%> <p>
        <p> <%=booking.end_date%> <p>
        <form action=<%="/bookings/#{booking.id}/cancel"%> method="post">
        <button type="submit">Cancel</button>
        </form>
      <% end %>
      <% end %>
    <% end %>
    <% end %>
  <% end %>
<% end %>
<h2>Pending</h2>
<% @bookings_requested.each do |booking| %>
  <% if booking.status == 'pending' %>
    <% @allprops.each do |prop| %>
    <% @allusers.each do |user| %>
      <% if prop.id == booking.property_id %>
      <% if user.id == booking.booker_id %>
        <p> <%=prop.name%> <p>
        <p> <%=user.name%> <p>
        <p> <%=booking.start_date%> <p>
        <p> <%=booking.end_date%> <p>
        <form action=<%="/bookings/#{booking.id}/cancel"%> method="post">
        <button type="submit">Cancel</button>
        </form>
      <% end %>
      <% end %>
    <% end %>
    <% end %>
  <% end %>
<% end %>
<h1>Bookings recieved on your properties</h1>
<h2>Confirmed</h2>
<% @bookings_recieved.each do |booking| %>
  <% if booking.status == 'confirmed' %>
    <% @allprops.each do |prop| %>
    <% @allusers.each do |user| %>
      <% if prop.id == booking.property_id %>
      <% if user.id == booking.booker_id %>
        <p> <%=prop.name%> <p>
        <p> <%=user.name%> <p>
        <p> <%=booking.start_date%> <p>
        <p> <%=booking.end_date%> <p>
        <form action=<%="/bookings/#{booking.id}/cancel"%> method="post">
        <button type="submit">Cancel</button>
        </form>
      <% end %>
      <% end %>
    <% end %>
    <% end %>
  <% end %>
<% end %>
<h2>Pending</h2>
<% @bookings_recieved.each do |booking| %>
  <% if booking.status == 'pending' %>
    <% @allprops.each do |prop| %>
    <% @allusers.each do |user| %>
      <% if prop.id == booking.property_id %>
      <% if user.id == booking.booker_id %>
        <p> <%=prop.name%> <p>
        <p> <%=user.name%> <p>
        <p> <%=booking.start_date%> <p>
        <p> <%=booking.end_date%> <p>
        <form action=<%="/bookings/#{booking.id}/confirm"%> method="post">
        <button type="submit">Confirm</button>
        </form>
        <form action=<%="/bookings/#{booking.id}/cancel"%> method="post">
        <button type="submit">Cancel</button>
        </form>
      <% end %>
      <% end %>  
    <% end %>
    <% end %>
  <% end %>
<% end %>