<html>
<head>
</head>
<body>
<p><%=@property.name%><p>
<p><%=@property.description%><p>
<p><%=@property.price%><p>
<p><%=@property.to_rent%><p>
<% if @user_id == @property.user_id %> 
  <p>update your property <a href=<%= "/properties/#{@property.id}/update" %>>here<a>
<% end %>
</body>
</html>
