<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Properties For Rent</title>
  </head>
  <body>
    <% if @path == "/properties" %>
      <h1>Here's a list of properties available for renting near you!</h1>
      <% @properties.each do |property| %>
        <% if property.to_rent == 't' %>
          <div>
            <p>Name: <%= property.name%> <p>
            <p>Description: <%= property.description%> <p>
            <p>Price: <%= "£#{property.price}"%> <p>
            <a href=<%="/properties/#{property.id}"%>>more details<a>
          </div>
        <% end %>
      <% end %>
      <form action="/properties/sort_price" method="GET">
      <input type="hidden" id="booker_id" name="path" value=<%=@path%>>
      <button type=submit>Sort listings by price</button>
    </form>
    <% elsif @path == "/myaccount/properties" %>
      <% if @message %>
        <p><%= @message %></p>
      <% end %>
      <h1>Here's a list of Your Properties</h1>
      <% @properties.each do |property| %>
        <div>
          <p>Name: <%= property.name%> <p>
          <p>Description: <%= property.description%> <p>
          <p>Price: <%= "£#{property.price}"%> <p>
          <% if property.to_rent == 't' %>
            <p>Available to Rent: Yes<p>
          <% else %>
            <p>Available to Rent: No<p>
          <% end %>
          <a href=<%="/properties/#{property.id}"%>>more details<a>
        </div>
      <% end %>
    <% end %>
    <form action="/properties/new" method="GET">
      <button type=submit>List a new Property</button>
    </form>
    <a href="/">Homepage<a>
  </body>
</html>